global
  log stdout format raw local0

defaults
  mode http
  log global
  option httplog
  timeout connect 5s
  timeout client 60s
  timeout server 60s

frontend public
  bind :80
  acl api_request path_beg /api /auth /admin
  use_backend api if api_request
  default_backend admin

backend api
  server api api:3000 check

backend admin
  server admin admin:3000 check
