global
  log stdout format raw local0

defaults
  mode http
  log global
  option httplog
  timeout connect 5s
  timeout client 60s
  timeout server 60s

frontend public
  bind :80
  acl admin_api_request path_beg /api/business
  acl customer_api_request path_beg /api/public
  acl admin_ui_request path_beg /business
  acl admin_ui_asset path_beg /business/_next
  use_backend admin_api if admin_api_request
  use_backend customer_api if customer_api_request
  use_backend admin-ui if admin_ui_asset
  use_backend admin-ui if admin_ui_request
  default_backend ui

backend admin_api
  server admin-api admin-api:3000 check

backend customer_api
  server customer-api customer-api:3001 check

backend admin-ui
  http-request set-path %[path,regsub(^/business,)] if { path_beg /business/_next/ }
  server admin-ui admin-ui:3000 check

backend ui
  server ui ui:3000 check
